.App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
    border-radius: 50%;
}

.App-header {
  background-color: #222;
/*  margin-left: auto;
  margin-right: auto;*/
  color: white;
}
